html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  position: relative;
  line-height: .3em;
  margin: 0;
}

nav {
  font-size: .8rem;
  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  padding-right: .5em;
  padding-inline-start: .5em;

}

#store {
  margin-right: auto;
  
}

nav li{
  list-style: none;
  margin: 7px;

}

nav li:hover {
  text-decoration: underline;

}

nav li a {
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}

.main{
  text-align: center;
  
}

#logo {
 height: 5.5em;
 width: auto;
 margin-top: 6em;
}

#searchbar {
  height: 3em;
  width: 43em;
  border-radius: 2em;
  margin-top: 1.3em;
  border: 1px solid rgb(215, 219, 216);
}

input:hover {
  color: white;
  box-shadow: 1px 1px 2px black, 0 0 20px rgb(207, 208, 212), 0 0 5px darkblue;
  
}

input {
  outline: none;
  
}

.button {
  text-align: center;
  
}

button {
  height: 2.3em;
  margin: 2em .2em;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  font-size: .9rem;
  color: #5F6368;
}

#google {
  width: 8.2em;
}

#lucky {
  width: 9em;
}

button:hover {
  cursor: pointer;
  border: 1px solid rgb(199, 199, 199);
  color: black;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(242, 242, 242);
   
}

.footer ul {
  list-style: none;
  display: flex;
  padding-right: 1em;
  padding-inline-start: .7em;
  margin-block-end: .35em;
  margin-block-start: .3em;

}

footer li {
  margin: 7px;
  font-size: .9rem;

}

footer li:hover {
  text-decoration: underline;
}

.footer li a {
  text-decoration: none;
  color: #5f6368;

}

#search {
  margin-right: auto;
  
}







