html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
position: relative;
padding: .2em;

}

nav {
  font-size: 1.1rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

#store {
  margin-right: auto;
}

nav li{
  list-style: none;
  margin: 7px;
}

nav li a {
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}

.main{
  text-align: center;
  
}

#logo {
 height: 7.5em;
 width: auto;
 margin-top: 8em;
}

#searchbar {
  height: 4em;
  width: 55em;
  border-radius: 2em;
  margin-top: 1.8em;
  border: 1px solid rgb(215, 219, 216);
}

input:hover {
  color: white;
  box-shadow: 1px 1px 2px black, 0 0 20px rgb(207, 208, 212), 0 0 5px darkblue;
}

.button {
  text-align: center;
  margin-top: 2em;
  
}

button {
  height: 3em;
  width: auto;
  
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(242, 242, 242);
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.footer li a {
  text-decoration: none;
}

#privacy {
  margin-right: auto;
  
}





